<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.My.MySettings.SIMRS_USERConnectionString"
            connectionString="Data Source=.;Initial Catalog=SIMRS_USER;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASEConnectionString"
            connectionString="Data Source=.;Initial Catalog=SIMRS_DEMO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASEConnectionString1"
            connectionString="Data Source=DESKTOP-GL5L5CG;Initial Catalog=DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASE_RKAConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=DATABASE_RKA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASE_GGConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=DATABASE_GG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASE_ACCOUNTINGConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=DATABASE_ACCOUNTING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASE_RSGUNTURConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=DATABASE_RSGUNTUR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.RSGUNTURConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=RSGUNTUR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.U_DATABASEConnectionString"
            connectionString="Data Source=DESKTOP-P6FG87U;Initial Catalog=U_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.USER_DATABASEConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=USER_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.RSGUNTUR_MEDREKConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RSGUNTUR_MEDREK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASE_RMEConnectionString"
            connectionString="Data Source=36.92.89.156,6699;Initial Catalog=DATABASE_RME;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.U_USERConnectionString" connectionString="Data Source=localhost;Initial Catalog=U_USER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASERSConnectionString"
            connectionString="Data Source=103.188.174.13;Initial Catalog=DATABASERS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASERMEConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DATABASERME;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.USERConnectionString" connectionString="Data Source=localhost;Initial Catalog=USER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.My.MySettings.DATABASERSConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=DATABASERS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
